.flex{
	display: flex;
	flex-direction: column;

	&__b-margin-until-medium{
		margin-bottom: 2rem;
	}

	@mixin atMedium{
		&__b-margin-until-medium{
			margin-bottom: 0;
		}

		& {
			flex-direction: row;
		}

		&__medium-6{
			flex-basis: 50%;
		}

		&__medium-4{
			flex-basis: 33.3333%;
		}

		&--gutters{
		margin-right: -30px;
		}

		&--gutters > div{
		padding-right: 30px;
		}
	}

}