.flex{
	display: flex;
	flex-direction: column;

	&__b-margin-until-medium{
		margin-bottom: 2rem;
	}

	@mixin atMedium{
		& {
			flex-direction: row;
		}

		&__medium-6{
			flex-basis: 50%;
		}
	}

	&--gutters{
		margin-right: -30px;
	}

	&--gutters > div{
		padding-right: 30px;
	}
}