.flex{
	display: flex;
	flex-direction: column;

	&--v-center{
		align-content: center;
	}

	&__child--v-center{
		align-self: center;
	}

	&__b-margin-until-medium{
		margin-bottom: 2rem;
	}

	&__wrap{
		flex-wrap: wrap;
	}

	&__row{
		flex-direction: row;
	}

	@mixin atMedium{
		&__b-margin-until-medium{
			margin-bottom: 0;
		}

		& {
			flex-direction: row;
			justify-content: space-between;
		}

		&__medium-6{
			flex-basis: 48.5%;
		}

		&__medium-4{
			flex-basis: 31.833%;
		}
	}

}