.primary-nav{
	opacity: 0;
	visibility: 0;
	height: 0;
	transform-origin: 0 50%;
	transition: all .4s ease-out;

	li{
		padding: 5px 5px;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
		transition: all .3s linear;

	&:hover{
		background-color: white;
		color: $mainGreen;
		text-align: center;
		font-weight: 400;

	}

		@mixin atMedium{
			border-bottom: none;
			text-align: left;
			margin-right: 2px;
		}
	}

	&--visible{
		opacity: 1;
		visibility: 1;
		height: 100%;

	}


	@mixin atMedium{
		display: inherit;
		padding-top: 0;
		opacity: 1;
		visibility: 1;
		height: 100%;
	}

}