.section-title{
	font-size: 1.375rem;
	color: $mainRed;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: .3rem;
	margin: 0;
	border-bottom: 2px solid $mainGreen;
	font-weight: 400;

	&--b-margin{
		margin-bottom: 2rem;
	}

	&--right-padding{
		padding-right: 10px;
	}
}