.site-header{
	background-color: $mainGreen;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	position: fixed;
	width: 100%;

	&__logo{
		background-color: #fff;
		max-width: 300px;
		padding: 1.5rem;
	}

}